autom4te.cache
config.log
config.status
stamp.h1
*.a
.DS_Store
*.Po
*.o
*.Tpo
*.exe

2mb
bap
bbssp
bscssp
abtsp
btsp
cbtsp
dcbpb
hash
histogram_data
linkern
subproblem
tour_info
tsp

*~

.sconsign.dblite
build/*